<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Rescue Mission" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="container">
        <a class="logo" href="/questions">Rescue Mission</a>

      </div>
    </div>
    <% if flash.any? %>
      <div class="flash">
        <div class="container">
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
      </div>
    <% end %>
    <div class="container">
   <div class="row">
     <div class="column">
       <%= yield %>
     </div>
   </div>
 </div>
  </body>
</html>
